{% extends 'base.html' %} {% block contenido %}
<div class="card">
  <div class="card-body">
    <p class="card-text">{{post.fecha}}</p>
    <h6>{{post.creador}}</h6>
    <h5 class="card-title">{{ post.titulo }}</h5>
    <p class="card-text">{{post.post}}</p>

    {% if user.is_authenticated %}
    <form action="{% url 'publicaciones:me-gusta' post.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="publicacion_id" value="{{post.id}}" />
      {% if user in post.meGusta.all %}
      <button type="submit" class="btn btn-danger">
        <i class="fa-regular fa-thumbs-down"></i>
      </button>
      {% else %}
      <button type="submit" class="btn btn-success">
        <i class="fa-regular fa-thumbs-up"></i>
      </button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>

<div class="comentarios-container">
  <h2>Comentarios</h2>

  {% for comentario in publicacion.comentarios.all %}
  <div class="card">
    <div class="card-body">
      <h6>{{comentario.creador.username}}</h6>
      <p>{{comentario.texto}}</p>

      {% if user.is_superuser %}
      <a href="{% url 'publicaciones:borrar-comentario' comentario.id %}"
        ><i class="fa-solid fa-trash"></i
      ></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<form method="post">
  {% csrf_token %} {{ comentario_form }}

  <button type="submit">Comentar</button>
</form>

{% endblock contenido %}
