{% extends 'base.html' %}

{% load static %}


{% block contenido %}
<h1>Bienvenidos</h1>
<h2>Esta es la Seccion de Publicaciones</h2>
  

{% for post in posteos %}

    <div class="card mt-5" style="width: 16rem; margin: 2%;">
      <img src="{{post.imagen}}" class="card-img-top" alt="imagen del post">
      <div class="card-header">{{ post.fecha }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ post.titulo }}</h5>
        <p class="card-text">{{ post.post }}</p>
        <p class="card-text">{{ post.categoria }}</p>
        <p class="card-text">{{ post.creador }}</p>
      </div>
    </div>

  
  </div>
  <a href="{% url 'publicaciones:detalle-publicacion' post.id %}" class="btn btn-warning">Indagar en profundidad</a>
  <a href="{% url 'publicaciones:editar-publicacion' post.id %}" class="btn btn-info">Editar</a>
  <a href="{% url 'publicaciones:eliminar-publicacion' post.id %}" class="btn btn-danger">Eliminar</a>
</div>

<div class="d-grid gap-2">
  <a href="{% url 'publicaciones:crear-publicacion' %}" class="btn btn-primary">Postear algo nuevo!</a>
</div>

{% endfor %} 


{% endblock contenido %}