

nav {
  padding: 15px;
}

#cuerpo {
  background-image: url(../img/DeFi.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 56px;
  padding-bottom: 24px;
  padding: 30px;
}
footer {
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
label {
  color: antiquewhite;
  justify-content: center;

}

div {
  color: white;
}
#integrantes {
  font-size: 26px;
  margin-top: 40px;
}
#cuerpointegrantes {
  margin-top: 20px;
}

.formClass {
  color: azure;
}

span {
  color: #fff;
  font-size: medium;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

p {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;

}

input {
  height: 45px;
  width: 30%;
  border :#2C3E50;
  outline: none;
  border-radius: 20px;
  color: #0d0c0c;
  padding: 0 0 0 42px;
  background: rgba(255,255,255,0.4);
}

.button {
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 45px;
  outline: none;
  width: 10%;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  box-shadow: 5px 10px 10px 2px rgba(236, 230, 230, 0.2);
}

