

#cuerpo {
  background-image: url(../img/DeFi.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 56px;
  padding-bottom: 24px;
  padding: 30px;
}

footer {
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

label {
  color: antiquewhite;
  justify-content: center;

}


#integrantes {
  font-size: 26px;
  margin-top: 40px;
}
#cuerpointegrantes {
  margin-top: 20px;
}

.formClass {
  color: azure;
}

span {
  color: #fff;
  font-size: medium;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

p {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;

}



.button {
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 45px;
  outline: none;
  width: 10%;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  box-shadow: 5px 10px 10px 2px rgba(236, 230, 230, 0.2);
}




.card-border {
  border: solid 10px white;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover{
  transform: scale(1.02);
}

.col-sm {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(114, 17, 218) 60%);
  background-repeat: repeat-x;
  background-size: 75%;
  margin-top: -20px;
}