{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROYECTO FINAL</title>
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/be59a90cf1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  
  <body id="cuerpo">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo.png' %}" alt="logo" width="70">
        </a>
        <a class="navbar-brand" href="{% url 'index' %}">INICIO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'categorias' %}"
                >Categorias</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'integrantes' %}">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'publicaciones:publicaciones' %}"
                >Publicaciones</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{user.username}}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="http://127.0.0.1:8000/login/logout/"
                    >Cerrar sesion</a
                  >
                </li>
              </ul>
            </li>
            {% else %}
            <a
              class="nav-link active"
              aria-current="page"
              href="http://127.0.0.1:8000/login/"
              >Iniciar Sesion</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="http://127.0.0.1:8000/login/registro/"
              >Registrarse</a
            >
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    

    {% block contenido %} 
    
    
    {% endblock contenido %}

    <div class="container-fluid">
      <footer class="footer bg-dark text-center text-white">
        <div class="text-center p" style="background-color: rgba(20, 160, 225, 0.695)">
          COMISION 7:
          <a class="text-white" href="#">GRUPO 7</a>
        </div>
      </footer>
    </div>
  

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
