{% extends 'base.html' %}
{% load static %}


{% block contenido %}
    <div class="text-center" id="cuerpointegrantes">   
        <h1>INTEGRANTES DEL GRUPO 7</h1>
        <div id="integrantes">
            <p>ELIAS BRAZANOVICH</p>
            <p>MAURICIO STALCAR</p>
            <p>VALERIA MARGARITA NUÑEZ</p>
            <p>MARIO RODRIGUEZ</p>
            <p>ALBERTO FABIAN BASTIANI</p>
            <p>EBRAIN RAMIREZ</p>
            <p>NICOLAS MIGUEL ARREJIN</p>
            <p>AGUSTIN RODRIGUEZ</p>
        </div>
    </div> 
{% endblock contenido %}